//COLORS
$primary: rgb(255, 255, 255);
$secondary: rgb(0, 0, 0);
$gray: rgb(130, 130, 130);
$blue: #E5E6F8;
$orange:#ffb7b6;
$pink: #F5DBF1 ;
$green: rgb(212, 249, 221);

// RESPONSIVE BREAKPOINTS
$breakpoints: (
    tablette: 1023px,
    mobile: 767px,
);